body {
	/* Always show vertical scrollbar */
	overflow-y: scroll;
}

caption {
	caption-side: top;
}

#content {
	max-width: 45rem;
	min-width: 30rem;
}

section {
	display: none;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

td.catCol {
	white-space: nowrap;
}

#home img {
	margin: auto;
	padding-top: 1.25rem;
}