body {
	/* Always show vertical scrollbar */
	overflow-y: scroll;
}

caption {
	caption-side: top;
}

#content {
	max-width: 60rem;
	min-width: 30rem;
}

section {
	display: none;
}

td.catCol {
	white-space: nowrap;
}

#home img {
	padding-top: 1.25rem;
}